@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
  
  --color-bauhaus-red: #e63946;
  --color-bauhaus-blue: #1d3557;
  --color-bauhaus-yellow: #f4a261;
  --color-bauhaus-black: #111111;
  --color-bauhaus-gray: #f1faee;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
